#heading
{
  font-family:"tahoma";
  background-color:#b2e7ff;
  font-size:24px;
  width:970px;
  color:black;
  text-align:center;
  border-bottom:2px solid #0ab1ff;
  padding:15px;
}

#outer
{
  display:table;
}

#out_in
{
  display:table-row;
}

#leftside
{
  font-family:"tahoma";
  background-color:#0ab1ff;
  padding:25px 10px;
  display:table-cell;
  max-width:230px;
  min-width:230px;
}

#leftside p
{
  font-family:"tahoma";
  font-size:12px;
  color:black;
}

#leftside p#h
{
  font-family:"tahoma";
  font-size:18px;
}

#leftside a
{
  font-family:"tahoma";
  text-decoration:none;
  font-size:14px;
  color:white;
  padding-bottom:10px;
}

#rightside
{
  font-family:"tahoma";
  background-color:#ededed;
  padding:20px;
  max-width:710px;
  min-width:710px;
  display:table-cell;
  margin-left:250px;
}

#rightside p
{
  font-size:14px;
  color:#802525;
}

#rightside p#h
{
  font-size:24px;
  color:black;
}

#footing
{
  font-family:"tahoma";
  width:970px;
  background-color:#3cff78;
  font-size:24px;
  color:black;
  text-align:center;
  border-bottom:2px solid #0ab1ff;
  padding:15px;
  clear:left;
}

