form
{
  background-color:lightgrey;
  width:400px;
  margin-left:33%;
}

p#heading
{
  text-align:center;
  font-size:14px;
  color:white;
  font-style:bold;
  padding:3px;
  background-color:#68AB46;
}

select
{
  width:150px;
}

#email, #name
{
  background-color:yellow;
}

b
{
  font-size:13px;
}
td
{
  width:150px;
}

td input
{
  width:200px;
}

p.cen
{
  text-align:center;
}

.cen
{
  font-size:12px;
}

#sub
{
  border-radius:10px;
  color:gray;
  background-color:#353f3f;
  margin-left:175px;
}

